@using Trolllo.Helpers
@model IEnumerable<Trolllo.Models.Project>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <div class="container-fluid" ng-controller="projectController">
        <br/>
        <div class="jumbotron backgroundedImageCard">
            <p class="text-center">SZUKAJKA:</p>
            <input ng-model="searchText" class="form-control input-lg" id="search" value=" ">
        </div>
        <div class="row row-centered">
            <ul class="classul">
                @foreach (var item in Model)
                {
                    <li class="col-centered repeated-item col-lg-3 col-md-4 col-sm-6 col-xs-12 classli" ng-repeat="project in @Model | KeyWordFilter:searchText">
                        <div class="element backgroundedImageCard">
                           <button type="submit" class="btn btn-danger floatleftclass" ng-click="$ctrl.editing(project)">
                                <i class="glyphicon glyphicon-edit" style="color: black"></i>
                            </button>

                            <div class="right">
                                <button type="submit" class="btn btn-danger" ng-click="$ctrl.deleting(project.id)">
                                    <i class="glyphicon glyphicon-remove" style="color: black"></i>
                                </button>
                            </div>
                            <img src="~/Content/ImagesOfTechnology/2d98ee06c7e9413d063360aacc80bb9a2ea149d2_full.jpg" />
                           <!-- <img src={{$ctrl.getImage(project.image)}} ng-click="$ctrl.details(project)" height="200">-->
                            <div class="text">
                                <h4 class="center" style="font-weight: bold">
                                    @Html.DisplayFor(modelItem => item.Name)<br/>
                                </h4>
                                <table style="width: 100%">
                                    <tr>
                                        <td>Manadzer:</td>
                                        <td class="right">@Html.DisplayFor(modelItem => item.ApplicationUser.Name)</td>
                                    </tr>
                                    <tr>
                                        <td>Technologia:</td>
                                        <td class="right">@Html.DisplayFor(modelItem => item.Technology.Name)</td>
                                    </tr>
                                </table>
                            </div>
                            @Html.ActionLink("Details", "Details", new { id = item.ProjectId })
                            @if (User.IsInRole("Manager"))
                            {
                                 @Html.ActionLink("Take Managment", "AttendToManagment", new { id = item.ProjectId })
                            
                            }
                        </div>
                    </li>


                   
                            
                        
                }
            </ul>

        </div>

    </div>
